@mixin sectionDefaultSettings {
    display: flex;
    justify-content: center;  
    flex-grow: 1;   
    flex-wrap: wrap;    
    padding: 2rem 1rem;
}

@mixin applyBorder($position, $color) {
    @if ($position == "top") {
        border-top: 2px solid $color;
    } @else if ($position == "bottom") {
        border-bottom: 2px solid $color; 
    }    
}

@mixin applyAnimation($name) {
    animation-name: $name;
    animation-duration: .8s;    
    animation-timing-function: ease-in;
}