body {
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.6;
    color: var(--color-black);
}

a {
    color: inherit;
    text-transform: none;
    text-decoration: none;
}

a,
p {
    outline: none;    
}

.heading-section {
    margin-bottom: 1rem;
    font-size: 2.3rem;  
}