.footer {
    @include applyBorder("top", var(--color-gray-light));

    &__text {        
        display: inline-block;
        font-size: 1.3rem;
        font-weight: 600;
        padding: .5rem 1rem;
        transform: skewX(-20deg);
        letter-spacing: 1px;        
        backface-visibility: hidden;
    }
}