.header {
    @include applyBorder("bottom", var(--color-gray-light));
    backface-visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-light);        

    &__photo {        
        @include applyAnimation(moveInRight);              
        border-radius: 50%;         
        box-shadow: 0rem 5px 1rem var(--color-black);        
    }
        
    &__location {                
        @include applyAnimation(moveInRightSkewed); 
        color: var(--color-gray-dark);        
        transform: skewX(-20deg);        
    }

    &__role,
    &__location {
        font-size: 2.4rem;
    }

    &__name,
    &__role {
        @include applyAnimation(moveInLeft);      
    }
}