.header {
    @include applyBorder("bottom", var(--color-gray-light));
    backface-visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-light);            

    &__photo {        
        @include applyAnimation(moveInRight);   
        border-radius: 50%;                         
        border: 3px solid var(--color-black);
        box-shadow: 0rem 5px 1rem var(--color-black);        
    }
    
    &__photo-wrapper {
        position: relative;
    }
    
    &__photo-wrapper:after {
        content: '';
        display: block;  
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        z-index: 1;
    }
        
    &__location {                
        @include applyAnimation(moveInRightSkewed);
        font-size: 2rem;         
        color: var(--color-gray-dark); 
        text-align: center;       
        transform: skewX(-20deg);        
    }

    &__role {
        font-size: 2.4rem; 
        transition: all .5s;               
    }

    &__role:hover {
        transform: skewX(-20deg) scale(1.2);        
    }

    &__name,
    &__role {
        @include applyAnimation(moveInLeft);     
        text-align: center; 
    }
}