:root {
    --color-primary-light: #f5f8fa;
    --color-primary-dark: #51addd;
    --color-black: #3a4145;
    --color-gray-light:#d6d9db;
    --color-gray-dark:#aaaabb;
    --color-white: #fff;   
    --color-blue-linkedIn: #0077b5;
    --color-blue-facebook: #3b5998;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit; 
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //so that 1rem = 10px
}
