@mixin sectionDefaultSettings {
    display: flex;
    justify-content: center; 
    flex: 1;    
    padding: 2.5rem 1.5rem;    
    backface-visibility: hidden;        
}

@mixin applyBorder($position, $color) {
    @if ($position == "top") {
        border-top: 2px solid $color;
    } @else if ($position == "bottom") {
        border-bottom: 2px solid $color; 
    }    
}

@mixin applyAnimation($name) {
    animation-name: $name;
    animation-duration: .8s;    
    animation-timing-function: ease-in;
}