.section-about {    
    @include sectionDefaultSettings;
    @include applyAnimation(moveInBottom);
    backface-visibility: hidden;
        
    .aboutMe {         
        width: 50rem;        
        font-size: 2rem;
        font-weight: 500;
        text-align: justify;
        margin-right: 4rem;

        @media only screen and (max-width: 825px) {
            flex-grow: 1;
            margin: 0 0 2rem 0;
        }
    }

    .contacts { 
        @media only screen and (max-width: 825px) {
            flex-grow: 1;

        }

        &__list {            
            list-style: none; 
            
            @media only screen and (max-width: 825px) {
                display: flex;                
            }
            
            @media only screen and (max-width: 520px) {
                flex-direction: column;
            }
        }

        &__item {
            padding: .7rem 0rem;
            display: flex;
            align-items: center;  
            
            @media only screen and (max-width: 825px) {
                &:not(:last-child) {
                    margin-right: 1.5rem;
                }              
            }            
        }

        &__icon {
            width: 3.5rem;
            height: 3.5rem;
            margin-right: .5rem;
            order: -1;
        }

        &__link {
            text-decoration: none;
            text-transform: none; 
            transition: all .2s;
            
            &-github:hover,
            &-github:focus {   
                @include applyBorder("bottom", purple);                
                color: purple;                              
                transform: scale(1.05);                            
            }

            &-github:hover + .contacts__icon,
            &-github:focus + .contacts__icon {
                fill: purple;
                transform: scale(1.05);
            }

            &-github:active {
                transform: scale(1);
            }

            &-facebook:hover,
            &-facebook:focus {            
                @include applyBorder("bottom", var(--color-blue));    
                color: var(--color-blue);                              
                transform: scale(1.05);                            
            }

            &-facebook:hover + .contacts__icon,
            &-facebook:focus + .contacts__icon {
                fill: var(--color-blue);
                transform: scale(1.05);
            }

            &-facebook:active {
                transform: scale(1);
            }
        }

        &__link, 
        &__email {
            color: var(--color-black);
            font-weight: 500;            
            font-size: 2rem;
        }

        &__email:hover {
            @include applyBorder("bottom", var(--color-black));
        }
    }
}